

<nav class="navbar navbar-expand-sm bg-dark  fixed-nav-bar navbar-dark justify-content-between " style="height: 80px">
  <!-- Brand -->


  <!-- Links -->
  <ul class="navbar-nav"><i class="fa fa-app-app text-white" aria-hidden="true"> </i>
    <h6><button class="btn "   style="color: greenyellow">BBLOG</button></h6>
    <li class="nav-item">
      <button class="btn text-light"  >Home</button>
    </li>
    <li class="nav-item">
      <button class="nav-link btn" (click)="prof()">Profile</button>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        More
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" >24x7 Customer Care </a>
        <a class="dropdown-item" href="#">Notification Prefrence</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  </ul>
        <div >
           <form class="form-inline" action="">
                <input class="input-form pr-0 mr-0"   [(ngModel)]="category" [ngModelOptions]="{standalone: true}" type="text" placeholder="search by Category"  >
                   <div class="input-group-append">
          <i class="fa fa-search bg-white "  (click)="searchbycategory(category)" style="padding:6.5px " aria-hidden="true"></i>

        </div>

        <div  class="mx-4">
          <form class="form-inline" action="">
            <input class="input-form px-4"   [(ngModel)]="user" [ngModelOptions]="{standalone: true}" type="text" placeholder="search by Username"  >
            <div class="input-group-append">
              <i class="fa fa-search bg-white "  (click)="searchbyusername(user)" style="padding:6.5px " aria-hidden="true"></i>

            </div>
<div class="form-inline">
  <button class="btn" style="color: lightslategrey"(click)="x()">Profile</button>
</div>
      <div class="ml-4"><i class="fa fa-user text-white"  aria-hidden="true"> </i>
        <!--         <button  routerLink="/login" class=" btn " style="color: lightslategrey">Login</button>-->

        <button
          *ngIf="!checkLogin()" class="btn text-white" routerLink="/login">Login</button>
        <button
          *ngIf="checkLogin()" class="btn text-white" (click)="logout()"   > Logout </button>
      </div>
      <div class="mx-2"><i class="fa fa-shopping-bag text-white" aria-hidden="true"> </i>
        <button  class=" btn " style="color: lightslategrey" (click)="addblogg()"> ADD BLOG</button>

      </div>
            <div class=" mx-2"><i class="fa fa-user text-white"  aria-hidden="true" > </i> <button  class="btn"   style="color: lightslategrey" (click)="my()">myblog</button></div>


            <!--      <i class="fa fa-shopping-cart text-white" aria-hidden="true"></i><button (click)="h()" class="btn" style="color: lightslategrey">Cart-->
      <!--      </button>-->
    </form>
  </div>
      </form>
  </div>
</nav>

<div class="container-fluid col-md-12 pt-4 row"   style="background-color: linen">
  <div class="container col-md-8  ml-4 py-4 mr-auto">
          <div *ngFor="let p of blogs"  class="card-deck col-md-10  py-4" style="box-shadow: lightcoral" >
            <div class="card mb-3 " *ngIf="p.privacy!='private'" >
               <h4 class="card-text text-center text-primary py-3">{{p.username}}</h4>
              <img class="card-img-top" src="{{p.image}}"alt="Card image"  >
              <div class="card-body">
                <h4 class="card-title">{{p.category}}</h4>

                <p class="card-text">{{p.details}}</p>
                <input type="text"  id="id_{{p.id}}"><button class="btn btn-light" >Comment</button>

              </div>

            </div>
          </div>
  </div>


  <div class="container col-md-3 py-4 text-4 mr-0"  >
    <div class="container col-md-12 py-4" ><h1><i class="fa fa-user text-black"  aria-hidden="true" > </i>&nbsp;&nbsp;{{m}}</h1></div>

               <div class="container col-md-12 "    style="border:1px solid lightgray;height: 600px">
                            <h4 class="text-center py-2" style="color: lightgray">Suggestions For You</h4>
                  <div  class="container col-md-12  mt-3" *ngFor="let g of u">
                         <div class=" row col-md-12  px-0 ">
                          <div class="container col-md-3 ml-0"><h4 style="color: coral" >{{g.username}}</h4></div>
                          <div class="container col-md-2 mr-0"><button class="btn btn-success" (click)="follow(g.userId)">Follow</button></div>
                           <div class="container col-md-2 mr-0"><button class="btn btn-success" (click)="unfollow(g.userId)">Unfollow</button></div>
                         </div>
                  </div>
               </div>
                    </div>

            </div>
