
<!--<div class="col-md-12  row">-->
<!--<div class="col-md-4"><button (click)="blogcomponent()" class="btn btn-danger">Add Blog</button></div>-->

<!--<div  class="col-md-4"><button (click)="updateuser()" class="btn btn-danger mt-3">Update profile</button></div>-->
<!--</div>-->
<div class="container-fluid col-md-12 pt-4 row"   style="background-color: linen; height: 600px">
<div class="col-md-12 text-center"><h1 style="color: greenyellow">My Blogs</h1></div>
<div class="container col-md-8 py-4" >
<div   *ngFor="let b of blogs" class="card-deck col-md-10  py-4" style="box-shadow: lightcoral">
  <div class="card mb-3">
    <h3 class="card-text text-center text-primary py-3" >{{b.username}}</h3>


    <img class="card-img-top" src="{{b.image}}"alt="Card image" style="height :600px" >
    <div class="card-body">
      <h4 class="card-title">{{b.category}}</h4>
      <p class="card-text">{{b.details}}</p>
    </div>
    <button class="btn " (click)="deletebyid(b.blogid)"> Delete</button>
    <button class="btn" (click)="update(b.blogid,b.username)"> Update</button>
  </div>
</div>
</div>
</div>
