
<div class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <form class="login-form">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase"  >Username</label>
            <input type="text" class="form-control" placeholder="Username"  [(ngModel)]="username" [ngModelOptions]="{standalone:true}">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" >
          </div>


          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small>Remember Me</small>
            </label>
            <button type="submit" class="btn btn-login float-right" (click)="login()">Submit</button>
          </div>

        </form>
        <div class="copy-text"  (click)="sign()"><i class="fa fa-heart"></i>Don't have account ? Click here!!</div>
      </div>
      <div class="col-md-8 banner-sec">
        <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
      </div>
    </div>

  </div>
</div>





<!--<div class="container col-md-12 pb-4"  style="background-color: linen">-->

<!--  <div class="container text-center p-4">-->

<!--  </div>-->
<!--  <div class="container col-md-5 mx-auto bg-white  mt-4 ">-->

<!--    &lt;!&ndash;    <p class="text-right mr-0">&ndash;&gt;-->
<!--    &lt;!&ndash;    <button class="btn text-white">&ndash;&gt;-->
<!--    &lt;!&ndash;  &times;&ndash;&gt;-->
<!--    &lt;!&ndash;</button>&ndash;&gt;-->
<!--    &lt;!&ndash;    </p>&ndash;&gt;-->
<!--    <div class="text-right"><button class=" btn bg-white"(click)="f()">X</button></div>-->

<!--    <div class="container text-center pt-3 ">-->
<!--      <h3 >LOGIN</h3>-->
<!--    </div>-->
<!--    <div class="col-md-12 text-center my-3 ml-5">-->
<!--      <form class="form ml-4">-->
<!--        <div class="input-group-append">-->
<!--          <button class="input-group-test bg-warning"><i class="fa fa-user" aria-hidden="true"></i></button>-->
<!--          <input class="input-form w-75" type="text" ngModel="username" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone:true}" />-->
<!--        </div>-->


<!--        <div class="input-group-append mt-2">-->
<!--          <button class="input-group-test bg-warning"><i class="fa fa-user" aria-hidden="true"></i></button>-->
<!--          <input class="input-form w-75" type="password"  placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" />-->
<!--        </div>-->


<!--      </form>-->
<!--    </div>-->
<!--    <div class="container col-md-12 text-dark ml-5 pl-5 pt-3 text-white">-->
<!--      <input type="checkbox" class="custom-checkbox">-->
<!--      <span class="text-dark">Remember Me</span>-->

<!--    </div>-->
<!--    <div class="container-fluid col-md-12 pl-4 text-center text-dark">-->
<!--      <button class="btn btn-warning px-4 w-75"(click)="login()">LOGIN</button>-->
<!--    </div>-->
<!--    <div class="container col-md-8 mx-auto text-center pb-4  pt-3 text-dark">-->

<!--      <h6 class="text-center text-dark " (click)="sign()">Don't have account ? Click here!!</h6>-->

<!--    </div>-->

<!--  </div>-->


<!--</div>-->




















