<div class=" row col-md-12">
  <div class="container col-md-5 my-4 pr-2">
    <div >
      <h3 class="new-post-title mt-4">Create New Post</h3>
    </div>
    <hr>

      <div >
        <label class="post-title">Title</label>
        <input type="text" [(ngModel)]="category"  class="form-control" placeholder="Category">

      </div>
      <div >
        <label class="post-content mt-3">Body</label>
        <input [(ngModel)]="details" class="form-control" placeholder="details">

      </div>
    <div >
      <label class="post-title mt-3">Title!</label>
      <input type="text" [(ngModel)]="image"  class="form-control" placeholder="image">

    </div>
    <div >
      <label class="post-content mt-3">Privacy</label>
      <input [(ngModel)]="privacy" class="form-control" placeholder="privacy">

    </div>

      <div class="form-group mt-4 ">
        <button type="submit" class="btn btn-primary" (click)="add()">Post</button>
      </div>

  </div>

  <div class="col-md-6  my-4 pr-2">
    <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
  </div>

</div>
