
<div class="add-post-content">
  <div class="container">
    <div>
      <h3 class="new-post-title">Update Post</h3>
    </div>
    <hr>

    <div >
      <label class="post-title">Title</label>
      <input type="text" [(ngModel)]="category"  class="form-control" placeholder="Category">

    </div>
    <div >
      <label class="post-content">Body</label>
      <input [(ngModel)]="details" class="form-control" placeholder="details">

    </div>
    <div >
      <label class="post-title">Title</label>
      <input type="text" [(ngModel)]="image"  class="form-control" placeholder="image">

    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="update()">Update Post</button>
    </div>

  </div>
</div>
