<div class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Sign Up Now</h2>

        <div class="form-group">
          <label class="text-uppercase"  >EMAIL</label>
          <input type="text"   class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                 id="emails" name="emails" ngModel #emails="ngModel" placeholder="Email"
                 [(ngModel)]="email" [ngModelOptions]="{standalone:true}">

          <div *ngIf="emails.errors &&(emails.touched || emails.dirty)" class="aler alert-danger">
            <div [hidden]="!emails.errors?.pattern">
              Invalid pattern
            </div>
          </div>
        </div>



        <form class="login-form">
          <div class="form-group">
            <label class="text-uppercase"  >Username</label>
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone:true}" placeholder="User Name">

          </div>
          <div class="form-group">
            <label  class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="Password"[(ngModel)]="passsword" [ngModelOptions]="{standalone:true}" placeholder="Password" >
          </div>


          <div class="form-check">
            <label class="form-check-label">


            </label>
            <button type="submit" class="btn btn-login float-right"  (click)="register1()">Submit</button>
          </div>

        </form>

      </div>
      <div class="col-md-8 banner-sec">

        <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">

      </div>

    </div>
  </div>
</div>






<!--<div class="container-fluid col-md-12 p-4 " style="background-color:linen;">-->
<!--  <div class="container col-md-4  bg-white  shadow-lg">-->

<!--    <form>-->
<!--      <h3 class="py-4 text-center">SignUp with Us</h3>-->
<!--      <div class="card col-md-10 m-auto ">-->
<!--        <table class="table m ">-->
<!--          <tr>-->
<!--            <td>-->
<!--              <input class="form-control border-0 p-1 w-100 " type="text" [(ngModel)]="username" [ngModelOptions]="{standalone:true}" placeholder="User Name">-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr><div class="form-group">-->
<!--            <label for="exampleInputEmail1">Email address</label>-->
<!--            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
<!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--          </div></tr>-->
<!--          <tr>-->

<!--            <td>-->
<!--              <input class="input p-1 w-100 border-0" type="password"  [(ngModel)]="passsword" [ngModelOptions]="{standalone:true}" placeholder="Password">-->
<!--            </td>-->

<!--        </table>-->
<!--      </div>-->
<!--      <div class="text-center m-4 pb-4">-->
<!--        <button class="btn w-75 text-center" type="submit" style="background-color:darkkhaki"  (click)="register1()">Register</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->















