
<div class="container ">


</div>




              <div class="row mb-4" style="background-color: linen;height: 800px">
                <div class="col-md-6 my-4 container-fluid">

                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
                    <div class="col-lg-9">
                      <select id="user_time_zone" class="form-control" size="0">
                        <option value="Hawaii">(GMT-10:00) Hawaii</option>
                        <option value="Alaska">(GMT-09:00) Alaska</option>
                        <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                        <option value="Arizona">(GMT-07:00) Arizona</option>
                        <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                        <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                        <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                        <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Username</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" placeholder="{{h}}">
                    </div>
                  </div>
                  <!--          <div class="form-group row">-->
                  <!--            <label class="col-lg-3 "> Email</label>-->
                  <!--            <div class="col-lg-9">-->
                  <!--              <input class="form-control" [(ngModel)]="email" type="text" value="{{email}}">-->
                  <!--              {{email}}-->
                  <!--            </div>-->
                  <!--          </div>-->
                  <!--          <div class="form-group row">-->
                  <!--            <label class="col-lg-3 col-form-label form-control-label"> Phone</label>-->
                  <!--            <div class="col-lg-9">-->
                  <!--              <input class="form-control" [(ngModel)]="phone" type="text" value="{{phone}}">-->

                  <!--            </div>-->
                  <!--          </div>-->
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"> password</label>
                    <div class="col-lg-9">
                      <input class="form-control" [(ngModel)]="pass" type="password" placeholder="{{pass}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                      <input type="reset" class="btn btn-secondary" value="Cancel">
                      <input type="button" class="btn btn-primary" (click)="update()" value="Save Changes">
                    </div>
                  </div>
                </div>
                <!--    <div class="col-lg-4 order-lg-1 text-center">-->
                <!--      <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">-->
                <!--      <h6 class="mt-2">Upload a different photo</h6>-->
                <!--      <label class="custom-file">-->
                <!--        <input type="file" id="file" class="custom-file-input">-->
                <!--        <span class="custom-file-control">Choose file</span>-->
                <!--      </label>-->
                <!--    </div>-->
                <div class=" container col-md-4 my-4 " style="border: 1px solid lightgray">

                  <h1 class="text-primary"> Following</h1>

                  <div *ngFor="let g of foll">
                    <p>{{g.owner.username}}</p>
                  </div>


                  <h1  class="text-primary"> Followers</h1>

                  <div *ngFor="let k of followers">
                    <p>{{k.follower.username}}</p>
                  </div>

                </div>
              </div>
